@{
    ViewData["Title"] = "Features";
}
<h1>@ViewData["Title"]</h1>

<p>A organizar: modulo de recibos de IRPF/p>
<p>A organizar: alterar o label da senha do GovBR</p>
<p>A organizar: novas funcionalidades somam no preço de venda</p>
<p>Use this page to detail your site's privacy policy.</p>
<p>Use this page to detail your site's privacy policy.</p>
<p>Use this page to detail your site's privacy policy.</p>

